<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ads</title>
</head>
<body>
  <header>
    <h1>Ads</h1>
  </header>

  <main>
    {% for advertiser in advertisers %}
    <h2 style="margin-left: 10px"> {{ advertiser.name }} </h2>
    <div style="width: 90%; height: 180px; margin: 10px 10px 10px 10px;border: 1px solid #ccc;">
        {% for ad in advertiser.ad_set.all %}
        {% if ad.approved %}
        <div style="width: 120px;display:inline-block;margin-right:5px">
            <a href="{% url "advertiser_management:redirect" ad.id %}" style="text-decoration: none;">
                <img style="display: block;width: 100px;height:90px;margin:10px 10px 10px 10px;" src="{{ ad.img_url }}" alt="{{ ad.title }}">
                <span style="display: block;width:100px;color: #000;margin:10px 10px 10px 10px;text-align: center;">{{ ad.title }}</span>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
  </main>
</body>
</html>
